
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #00c6a9;
    .menuIcon{
        display: none;
        @media (min-width: 480px) and (max-width: 768px){
            display: block;
        }
        @media (min-width: 320px) and (max-width: 480px){
            display: block;
        }
        @media (min-width: 768px) and (max-width: 1110px){
            display: block;
        }
        @media (max-width: 320px){
            display: block;
        }
    }
    .nav-left{
        @media (min-width: 480px) and (max-width: 768px){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .navbar_container{
        display: flex;
        ul{
            display: flex;
            align-items: center;
            column-gap: 30px;
            padding: 10px 40px;
            @media (min-width: 480px) and (max-width: 768px){
                display: none;
            }
            @media (min-width: 320px) and (max-width: 480px){
                display: none;
            }
            @media (min-width: 768px) and (max-width: 1110px){
                display: none;
            }
            @media (max-width: 320px){
                display: none;
            }
            a{
                color: white;
                &:hover{
                    color: #000;
                }
            }
        }
    }
    .menuIconShow{
        color: white;
        font-size: 35px;
    }
    .nav-right{
        @media (min-width: 480px) and (max-width: 768px){
            display: none;
        }
        @media (min-width: 320px) and (max-width: 480px){
            display: none;
        }
        @media (min-width: 768px) and (max-width: 1110px){
            display: none;
        }
        @media (max-width: 320px){
            display: none;
        }
        .btn-login{
            color: white;
            &:hover{
                color: #000;
            }
        }
        .btn-sign-up{
            color: white;
            &:hover{
                color: #000;
            }
        }
        .btn-search{
            color: white;
            &:hover{
                color: #000;
            }
        }
    }
}
